<main class="detalle-producto">
<div class="card-detalle">
<h2>{{producto.titulo}}</h2>
<img src="{{producto.imagen}}" alt="{{producto.titulo}}" class="imagen-detalle" />

<div class="info-detalle">
    <p><strong>Categoría</strong> <br> {{producto.categoria}}</p>
    <p><strong>Descripción</strong> <br> {{producto.descripcion}}</p>
    <p><strong>Precio</strong> <br> ${{producto.precio}}</p>
</div>


<a href="/api/productos" class="btn-volver">Volver</a>
</div>

</main>